.main {
   display: flex;
   gap: 2%;
   justify-content: space-between;
   height: 98vh;
   align-items: center;
}

.main .letter {
   width: 15%;
}

.main .letter .row {
   display: flex;
   justify-content: center;
}

.main .letter .row .cell {
   width: 25%;
   border: 1px solid transparent;
   box-sizing: border-box;
}

.main .letter .row .cell:after {
   content: '';
   display: block;
   padding-top: 100%;
}

.main .letter .row .cell.filled {
   border-color: black;
   background: rgb(88, 170, 6);
}