.wrapper {
    display: flex;
    padding: 20px;
    

}

.d {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    
}

.logo {
    display: flex;
    justify-content: center;
    font-family: 'Rubik Beastly', cursive;
    font-size: 48px;
    

}
.image{
width: 100%;
}
.underlogo{
    display: flex;
    justify-content: space-around;

    text-transform: uppercase;
    font-weight: bold;
    border-top: 6px double black;
        border-bottom: 9px double black;
        
        padding: 6px;
        margin-bottom: 15px;
}
.bottom {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-top: 2px solid black;
}

.logo2{
font-family: 'Rubik Beastly', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
}
